.options-container {
    border: 1px solid black;
}

.options {
    height: 200px;    
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.options > .options-row {
    flex: 1 1 0;
    border: 1px solid black;    
    padding: 10px;
}

.options > .options-row:first-child {
    border-bottom: none;
}

.flex { 
    display: flex;
}

.options-flex {
    display: flex;
    flex-direction: column;
}

.options-flex--row {
    display: flex;
    justify-content: space-between;
}
